.search-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.search-button {
    width: 3rem;
    background: dimgray;
}

.search-button:hover {
    background: #D8C3A5;
}

.search-bar {
    margin: 0;
}

.search-text {
    margin: 2rem;
    font-size: 2rem;
}

.random-recipes-text {
    margin: 2rem;
    font-size: 2rem;
}

.search-text {
    font-size: 2rem;
}

.refresh {
    font-size: 2rem;
}

.refresh-button:hover {
    background: #D8C3A5;
    color: #E98074;
}

.refresh-button {
    background: #D8C3A5;
    color: #E85A4F;
    padding: 1rem;
}

.search-arrows {
    font-size: 3rem;
}

.results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}