.dropdown {
    z-index: 10;
    font-size: 2rem;
    margin: 0 1rem;
    text-align: right;
    border: solid dimgray 2px;
    border-radius: 1rem;
    background: ghostwhite;
    cursor: pointer;
}

.dropdown-options-list:hover {
    
}

.dropdown-option:hover {
    background-color: #D8C3A5;
}

.dropdown-option {
    padding: 0 1rem;
}

.dropdown-selected {
    padding: 0 1rem;
}

.dropdown-selected:hover {
    // cursor: pointer;
}