.dropdown {
    z-index: 10;
    font-size: 2rem;
    margin: 32px;
    text-align: right;
    border: solid dimgray 2px;
    border-radius: 1rem;
    background: ghostwhite;
    padding: 0 1rem;
}

.dropdown-options-list {

}

.dropdown-option {

}