.recipe-title {
    font-size: 3rem;
}

.ingredient-title {
    font-size: 3rem;
}

.ingredient-container {
    border: dimgray solid 1px;
    margin-bottom: 1rem;
}

.step-container {
    border: dimgray solid 1px;
}

.instructions-text {
    font-size: 3rem;
}

.instruction {
    margin-top: 1rem;
}

.ingredient {
    margin-top: 1rem;
}